@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Neucha', cursive;
}

body {
    color: rgb(34, 34, 34);
}

.intro__img {
    height: auto;
    max-width: 100%;
}

/*Main Content*/

.gallery {
    margin-top: 150px;
   
}

.gallery__content {

}

.gallery__memories__items {
    display: flex;
    flex-direction: column;
}

.gallery__memories__item {
    border: 3px solid rgb(34, 34, 34);
    border-radius: .5rem;
    box-shadow: 0px 0px 15px 15px rgba(40, 43, 45, 0.2);
    padding: 25px;
    margin-top: 80px;
}

.gallery__memories__item__text {
    margin-top: 20px;
    font-size: 1.2rem;
}

.gallery__heading {
    text-align: center;
    font-size: 3rem;
    text-transform: uppercase;
}

.gallery__text {
    
    text-align: center;
    margin: 50px auto;
    font-size: 1.3rem;
}

.gallery__span {
    color: rgb(204, 47, 47);
}

.footer {
    background-color: #1c1b1b;
    padding: 50px;
    margin-top: 100px;
}

.footer__text {
    text-align: center;
    color: #be2e2e;
}

.hearts {
    text-align: center;
    font-size: 4rem;
}